# PORT environment variable for Cloud Run
PORT=8080

# The Google Client ID of the Chrome Extension
GOOGLE_CLIENT_ID=your-google-client-id

# Secure secret for signed custom JWTs
JWT_SECRET=your-secure-secret-here
